/* El efecto de cristal (Glassmorphism) para la barra superior */
header {
    padding: 15px 30px; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    border-bottom: 1px solid var(--glass-border); 
    backdrop-filter: blur(10px); /* Esto crea el efecto de cristal */
    -webkit-backdrop-filter: blur(10px); /* Para que funcione en Safari/Apple */
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 100; 
    box-sizing: border-box; 
    background: rgba(5, 10, 20, 0.85); /* Fondo oscuro semitransparente */
}

/* El botón de las 3 rayitas (hacerlo invisible el fondo y que se vea limpio) */
.menu-btn {
    background: none; 
    border: none; 
    color: var(--text-main); 
    font-size: 1.8rem;
    cursor: pointer; 
    margin-left: 30px; 
    transition: color 0.3s; 
    display: flex; 
    align-items: center; 
    padding: 0;
}

.menu-btn:hover { 
    color: var(--primary-color); 
}
